<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/card.css">

</head>

<body>

    <div class="grid">
        <div class="grid-item">
            <div class="card">
                <img src="#" alt="Photo" class="card-img">
                <div class="card-content">
                    <h1 class="card-header">Rome</h1>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quisquam possimus iusto
                        assumenda ipsum quis suscipit ipsam, ipsa aliquid, dolorum adipisci, labore exercitationem et
                        dolore.
                    </p>
                    <button class="card-btn">
                        Visit<span>&rarr;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img src="#" alt="Photo" class="card-img">
                <div class="card-content">
                    <h1 class="card-header">Rome</h1>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quisquam possimus iusto
                        assumenda ipsum quis suscipit ipsam, ipsa aliquid, dolorum adipisci, labore exercitationem et
                        dolore.
                    </p>
                    <button class="card-btn">
                        Visit<span>&rarr;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img src="#" alt="Photo" class="card-img">
                <div class="card-content">
                    <h1 class="card-header">Rome</h1>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quisquam possimus iusto
                        assumenda ipsum quis suscipit ipsam, ipsa aliquid, dolorum adipisci, labore exercitationem et
                        dolore.
                    </p>
                    <button class="card-btn">
                        Visit<span>&rarr;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>



</body>

</html>