{% extends 'admin/admin_nav.html' %}

{% block css %}
<style>
    .first {
        background: linear-gradient(to right, rgb(247, 110, 69), rgb(214, 174, 174));
    }

    .second {
        background: linear-gradient(to right, rgb(57, 243, 113), rgb(141, 231, 164));

    }

    .third {
        background: linear-gradient(to right, rgb(74, 76, 233), rgb(163, 158, 236));

    }

    .container {
        height: 76vh;
    }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-white first mb-3 d-flex" style="max-width: 100rem; min-height: 37vh;">
                <div class="card-header text-center">Services</div>
                <div class="card-body row justify-content-center align-items-center">

                    <div class="col-md-8">
                        <h3>Services</h3>
                        <h4>Total: {{services}}</h4>
                    </div>
                    <div class="col-md-4">
                        <i style="border-radius:50%;font-size:54px;color:rgb(0, 0, 0);padding:18px; opacity:0.7;"
                            class="fa fa-users" aria-hidden="true"> </i>
                    </div>

                </div>
                <hr>
                <h5 class="text-center"><a href="{% url 'allservices' %}" class="card-box-footer text-dark">View More <i
                            class="fa fa-arrow-circle-right"></i></a></h5>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card second text-white mb-3 d-flex" style="max-width: 100rem; min-height: 37vh;">
                <div class="card-header text-center">Customers</div>
                <div class="card-body row justify-content-center align-items-center">

                    <div class="col-md-8">
                        <h3>Customers</h3>
                        <h4>Total: {{customers}}</h4>
                    </div>
                    <div class="col-md-4">
                        <i style="border-radius:50%;font-size:54px;color:rgb(0, 0, 0);padding:18px; opacity:0.7;"
                            class="fa fa-users" aria-hidden="true"> </i>
                    </div>

                </div>
                <hr>
                <h5 class="text-center"><a href="{% url 'allcustomers' %}" class="card-box-footer text-dark">View More
                        <i class="fa fa-arrow-circle-right"></i></a></h5>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white third mb-3 d-flex" style="max-width: 100rem; min-height: 37vh;">
                <div class="card-header text-center">Service providers</div>
                <div class="card-body row justify-content-center align-items-center">

                    <div class="col-md-8">
                        <h3>Service Providers</h3>
                        <h4>Total: {{users}}</h4>

                    </div>
                    <div class="col-md-4">
                        <i style="border-radius:50%;font-size:54px;color:rgb(0, 0, 0);padding:18px; opacity:0.7;"
                            class="fa fa-users" aria-hidden="true"> </i>
                    </div>

                </div>
                <hr>
                <h5 class="text-center"><a href="{% url 'allusers' %}" class="card-box-footer text-dark">View More
                        <i class="fa fa-arrow-circle-right"></i></a></h5>

            </div>
        </div>
    </div>




</div>




{% endblock %}