{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block css %}


{% endblock css %}
{% block body %}

<section id="about-html" class="container-fluid">
  <div class="container text-center about-heading">
    <h1>Ghar Sewa</h1>
    <p>The vision of Ghar Sewa is to serve all the customers requirement services and improve the quality of
      people's lives through technology solutions by providing quality services at their doorsteps.</p>
    <p>Ghar Sewa is a service based website providing house maintenance services with highest quality work from
      experienced technicians. It provides different types of services like plumber, electrician, bathroom
      repair, furniture repair etc. Customers can find his/her service provider in just a click and he/she
      will be at customer's door. With complete profiles of professionals, including their work details,
      service information and reviews; customer can be sure of hiring the right service professional each and
      every time at Ghar Sewa.</p>
  </div>
</section>

<div class="container section-ourTeam my-2">
  <div class="row">
    <div class="col-md-12 ourTeam-hedding text-center">
      <h1>Our Teams</h1>
    </div>
  </div>
  <div class="row container">

    <div class="col-md-6 col-lg-3">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/about/binod.jpg">
        </div>
        <div class="col-md-12 section2">
          <p>Binod Shrestha</p>
          <p>Python With Django Developer</p>
        </div>
        <!-- <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div> -->
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/yourprofile" target="_blank" aria-label="Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://www.twitter.com/yourprofile" target="_blank" aria-label="Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/yourprofile" target="_blank" aria-label="Instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
      </div>      
      </div>
    </div>

    <div class="col-md-4 col-lg-3 m-2">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/about/frontend.jpg">
        </div>
        <div class="col-md-12 section2">
          <p>MR.Developer A</p>
          <p>FrontEnd Developer</p>
        </div>
        <!-- <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div> -->
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/yourprofile" target="_blank" aria-label="Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://www.twitter.com/yourprofile" target="_blank" aria-label="Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/yourprofile" target="_blank" aria-label="Instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
      </div>
      
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/about/backend.png">
        </div>
        <div class="col-md-12 section2">
          <p>Mr.Developer B</p>
          <p>Backend Developer</p>
        </div>
        <!-- <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div> -->
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/yourprofile" target="_blank" aria-label="Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://www.twitter.com/yourprofile" target="_blank" aria-label="Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/yourprofile" target="_blank" aria-label="Instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
      </div>
      
      </div>
    </div>

  </div>
</div>

{% endblock body %}