{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block css %}


{% endblock css %}
{% block body %}

<section id="about-html" class="container-fluid">
  <div class="container text-center about-heading">
    <h1>Ghar Sewa</h1>
    <p>The vision of Ghar Sewa is to serve all the customers requirement services and improve the quality of
      people's lives through technology solutions by providing quality services at their doorsteps.</p>
    <p>Ghar Sewa is a service based website providing house maintenance services with highest quality work from
      experienced technicians. It provides different types of services like plumber, electrician, bathroom
      repair, furniture repair etc. Customers can find his/her service provider in just a click and he/she
      will be at customer’s door. With complete profiles of professionals, including their work details,
      service information and reviews; customer can be sure of hiring the right service professional each and
      every time at Ghar Sewa.</p>
  </div>
</section>

<div class="container section-ourTeam my-2">
  <div class="row">
    <div class="col-md-12 ourTeam-hedding text-center">
      <h1>Our Team</h1>
    </div>
  </div>
  <div class="row container">

    <div class="col-md-6 col-lg-3">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/about/mk.jpg">
        </div>
        <div class="col-md-12 section2">
          <p>Manoj Khanal</p>
          <p>Project Leader</p>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 m-2">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/about/jp.jpg">
        </div>
        <div class="col-md-12 section2">
          <p>Jayanta Poudel</p>
          <p>Projct Assistance</p>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/about/arjun.jpg">
        </div>
        <div class="col-md-12 section2">
          <p>Arjun Shrestha</p>
          <p>Projct Assistance</p>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock body %}