{% extends 'base.html' %}
{% load static %}
{% block title %} User Profile {% endblock title %}
{% block css %}
<style>
    /* .container{
        min-height: 80vh;
    }
    */
    
    .image-thumbnail {
        display: block;
        max-width: 200px;
        max-height: 200px;
    }

    .card {
        width: 90%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: black;
    }

    .profile-box {
        border: 1px solid grey;
        border-radius: 2%;
    }

    .profile-box h2 {
        font-weight: bold;
        font-family: 'Monotype Corsiva';
        color: #E6120E;
        text-align: center;

    }
</style>
{% endblock css %}

{% block body %}


<div class="container profile-box w-50 my-3">
    <h2>My Profile</h2>
    <hr>

    <div align=" left" class="container-fluid" style="width:80%;margin-bottom:5%">
        <div class="row justify-content-center">
            
                <img src="{{profile.image.url}}" style="width:150px;height:100px"></img>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 div2">
                <strong>Full Name:</strong>
            </div>
            <div class="col-md-6 div1">
                {{profile.user.first_name}} {{profile.user.last_name}}
            </div>
        </div>
        <hr>

        

        <div class="row">
            <div class="col-md-6 div2">
                <strong>Email Id :</strong>
            </div>
            <div class="col-md-6 div1">
                {{profile.user.email}}
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 div2">
                <strong>Contact :</strong>
            </div>
            <div class="col-md-6 div1">
                {{profile.phone}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 div2">
                <strong>Address :</strong>
            </div>
            <div class="col-md-6 div1">
                {{profile.address}}
            </div>
        </div>
        <hr>
        {% if page %}
        <div class="row">
            <div class="col-md-6 div2">
                <strong>Service :</strong>
            </div>
            <div class="col-md-6 div1">
                {{profile.service.service_name}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 div2">
                <strong>Work Location :</strong>
            </div>
            <div class="col-md-6 div1">
                {{profile.city.city}}
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 div2">
                <strong>Work Experience :</strong>
            </div>
            <div class="col-md-6 div1">
                {{profile.experience}} years
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 div2">
                <strong>Training Certificate :</strong>
            </div>
            <div class="col-md-6 div1">
                <img src="{{profile.cert.url}}" style="width:150px;height:100px"></img>

            </div>
        </div>
        <hr>

        
        {% endif %}
       
        <a href="{% url 'editprofile' %}" class="btn btn-outline-primary">Edit Profile</a>
</div>
</div>


{% endblock body %}