{% extends 'base.html' %}
{% block title %}Search{% endblock title %}

{% block css %}
<style>
    .row {
        justify-content: space-around;
    }
</style>
{% endblock css %}

{% block body %}
<div class="container my-3">

    <h2>Search Results:- </h2>
    {% if page %}
    {% if service|length < 1 %} <p>No Search Result</p>
        Your search query : <b>{{query}}</b> did not match any documents. <br>
        Suggestions:
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try more general keywords.</li>
            <li> Try fewer keywords.</li>
            <li> Try different keywords.</li>
            </li>
        </ul>
        {% endif %}

        <div class="main-box container">
            {% for i in service %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/media/{{i.image}}" alt="Services">
                <div class="card-body text-center">
                    <h5 class="card-title">{{i.service_name}}</h5>
                    <p class="card-text">{{i.service_desc|truncatechars:80}}</p>
                    <a href="/services/{{i.service_id}}" class="btn btn-primary">Quick view</a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}

        {% if users|length < 1 %} <div class="my-2">

            <p>No Search Result</p>
            Your search query did not match any documents<br>
            Service Provider unavailable on that areas <br>
            Suggestions:
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try to enter correct city</li>
                <li>Try to enter correct service</li>
                <li>Try more general keywords.</li>
                <li> Try fewer keywords.</li>
                <li> Try different keywords.</li>
                </li>
            </ul>
</div>

{% else %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Service Provider-details: </h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="text-primary">Service: <span class="text-dark">{{serv.service_name}}</span></h5>
                    <h5 class="text-primary">Location: <span class="text-dark">{{ct.city}}</span></h5>

                    {% for user in users %}
                    <div class="card d-flex col-md-4 p-1">
                        <div class="col-md-8 mx-auto">
                            <img src="{{user.image.url}}" alt="Customer Image" width="150px" height="150px">
                            <h5 class="mt-2 text-primary"><strong>{{user.user.first_name}}
                                    {{user.user.last_name}}</strong></h5>
                            <p class="m-0">Contact: {{user.phone}}</p>
                            <p class="m-0">Address: {{user.address}}</p>
                            <p class="m-0">City: {{user.city.city}}</p>
                            <p class="m-0">Service: {{user.service.service_name}}</p>
                            <p>Experience: {{user.experience}} years</p>
                            <span>Certficate:
                                <img src="{{user.cert.url}}" alt="Customer Image" width="250px" height="150px">

                            </span>
                            <a href="{% url 'booking' user.user.id %}" class="btn btn-outline-primary">Book Now</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endif %}


{% endif %}

</div>
{% endblock %}